.maincontent{
	padding-top: 40px;
	bottom: 50%;
    left: 0;
    right: 0;
	text-align: center;
}

.container{
	width: 1000px;
}

.center-text{
	text-align: center;
}

.center-div{
	padding-left: 25%;
}


.text-inputbox{
	margin-top: 5px;
}

.error{
	color: red;
}

.photo{
	border-radius: 45px;
}

.form-align{
	vertical-align: center;
}
